body{
    margin : 0vh 0vw 0vh 0vw;
}
h1{
    text-align : center;
    background-image : linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    margin : 0vh 0vw 0vh 0vw;
    padding : 3vh;
}
#tableDiv{
    display:inline-block;
    float:left;
    height: 89vh;
    width: 20vw;
    background: #E8E8E8;
}
#datasetSearchBox{
    margin:0.4vh;
}
#datasetSearchBox .angucomplete-dropdown{
    width:18.5vw;
}
#datasetSearchBox input{
    width:19vw;
    height: 35px;
    padding:0.4vh;
}
#tableDiv button{
    margin-left:0.4vh;
}
#datasetTable{
    overflow: auto;
    height:86%;
}
#tableDiv table{
    font-size: 110%;
    border-spacing: 0.4vh;
    width:100%;
}
#tableDiv table tr th{
    position: sticky;
    top: 0;
    text-align : left;
    background-color: #808000;
    padding: 30px 20px 30px 30px;
    color: #FFFFFF;
    font-family : Arial;
    font-size:120%;
}
#tableDiv table tr td{
    font-family : Arial;
    font-size : 95%;
    white-space: nowrap;
    background-color: yellowgreen;
    padding: 15px;
}
#tableDiv table tr td:hover{
    background-color:#90EE90;
}
#spanIf{
    font-family : Arial;
    padding:10%;
    font-size:120%;
    color:red;
}
h3{
    font-family:Arial;
    background-image: linear-gradient(to right, skyblue, white);
    margin:0.4vh;
    padding:2vh;
}
#tabsDiv{
    float:left;
    height: 89vh;
    width:80vw;
    background:#E8E8F7;
    display:inline-block;
}
.tab{
    background:white;
    font-size:150%;
    padding:0.5vh 2vw 0.5vh 2vw;
    margin-left:0.4vh;
    border-radius:0.9vw;
}
.tab:hover{
    background:lightgrey;
}
.activetab {
   color: black;
   border-bottom: solid #2d2d2d;
   background-color: lightgrey;
}
#searchTab{
    background:white;
    text-align:center;
    border-radius:1vw;
    height:72vh;
    padding:0.5vh;
}
#searchTab input{
    width:15vw;
    height:25px;
    font-size:90%;
    padding:0.4vh;
}
#searchTab button{
    width:80px;
    height:30px;
}
#searchTab span{
    color:red;
}
#searchResult{
    height:70%;
    border: solid;
    border-radius:0.5vh;
    padding: 1vh 0.7vw 1vh 0.7vw;
    text-align:left;
    overflow:auto;
}
#showId{
    border: 1px solid;
    background-color:lightgrey;
    float:left;
    height:94.5%;
    width:20%;
    padding:1vh 1vw 1vh 1vw;
    overflow:auto;
    margin-right:1vw;
}
#showId table{
    background: red;
    width:100%;
}
#showId table tr td{
    background:white;
    width:20px;
    font-family : Arial;
    font-size : 95%;
    white-space: nowrap;
    padding: 10px;
}
#showId table tr td:hover{
    background-color:lightyellow;
}
#showSource{
    border:1px solid;
    background-color:#E8E8F7;
    float:left;
    padding:1vh 1vw 1vh 1vw;
    height:94.5%;
    width:70%;
    overflow:auto;
}
.autoComBox{
    display:inline-block;
}
#filesTab{
    background:white;
    text-align:center;
    border-radius:1vw;
    height:72vh;
    padding:0.5vh;
}
#fileView{
    border: solid;
    height: 60vh;
    border-radius:0.5vh;
    padding: 1vh 0.7vw 1vh 0.7vw;
    text-align:left;
}
#fileIdView{
    border: 1px solid;
    background-color:grey;
    float:left;
    height:94.5%;
    width:20%;
    padding:1vh 1vw 1vh 1vw;
    margin-right:1vw;
}
#fileContentView{
    border:1px solid;
    background-color:#E8E8F7;
    float:left;
    padding:1vh 1vw 1vh 1vw;
    height:94.5%;
    width:70%;
}
#fileSearchBox{
}
#fileSearchBox input{
    width:15vw;
    height:3vh;
    font-size:90%;
    padding:0.4vh;
}
#fileIdTable{
    height:81%;
    overflow:auto;
}
#fileIdTable table{
    background: red;
    width:100%;
}
#fileIdTable table tr td{
    background:white;
    font-family : Arial;
    font-size : 95%;
    white-space: nowrap;
    padding: 10px;
}
#fileIdTable table tr td:hover{
    background-color:lightyellow;
}
#analyticsTab{
    background:white;
    text-align:center;
    border-radius:1vw;
    height:72vh;
    padding:0.5vh;
}
#summaryTab{
    background:white;
    text-align:center;
    border-radius:1vw;
    height:72vh;
    padding:0.5vh;
}