<!DOCTYPE html>
<html lang="en" ng-app = "searchApp">
<head>
    <meta charset="UTF-8">
    <title>Search and Data Analytics</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Libraries -->
    <script src="lib/angular.min.js"></script>
    <!-- Modules -->
    <script src="src/searchApp.module.js"></script>
    <!-- 'search-app' module artifacts -->
    <script src="src/searchApp.controller.js"></script>
    <script src="src/searchApp.component.js"></script>
</head>
<body>
    <h1>Data Search and Analytics</h1>
    <div ng-controller="SearchController as searchCtrl">

        <dataset-view></dataset-view>

        <div id="tabsDiv">

            <h3>Dataset selected : {{searchCtrl.selectedDataset}}<span ng-if="searchCtrl.selectedDataset===undefined">None (select by clicking on the dataset name)</span>
            <button ng-if="searchCtrl.selectedDataset!==undefined" ng-click="searchCtrl.selectedDataset=undefined">Reset</button></h3>

            <div id="tabTitles" ng-init="tabselector = 'searchTab'">
                <span class="tab" ng-click="tabselector = 'searchTab'" ng-class="{'activetab' : tabselector == 'searchTab'}">Search</span>
                <span class="tab" ng-click="tabselector = 'analyticsTab'" ng-class="{'activetab' : tabselector == 'analyticsTab'}">Analytics</span>
                <span class="tab" ng-click="tabselector = 'filesTab'" ng-class="{'activetab' : tabselector == 'filesTab'}">Files</span>
                <span class="tab" ng-click="tabselector = 'summaryTab'" ng-class="{'activetab' : tabselector == 'summaryTab'}">Graph</span>
            </div>

            <br>

            <div class="box">
                <div id = "searchTab" ng-if="tabselector == 'searchTab'">
                    <h2>Search by Keyword</h2>
                    <input type="text" ng-model="searchCtrl.keywordToSearch" placeholder="Enter the keyword" required>
                    <button ng-disabled="searchCtrl.checkButton();" ng-click="searchCtrl.performSearch();">Search</button>
                    <br><br>
                    <span ng-if="searchCtrl.checkButton();">Please select a dataset and enter a keyword.</span>
                    <div ng-if="searchCtrl.searchPerformed" id="searchResult">
                        <div id="showId">
                            <table>
                                <tr ng-repeat="item in searchCtrl.searchResults" ng-click="searchCtrl.viewThisSearchFile($index)">
                                    <td>{{item._id}}</td>
                                </tr>
                            </table>
                        </div>
                        <div id="showSource">
                            {{searchCtrl.viewSearchFile}}
                        </div>
                    </div>
                </div>
                <div id = "analyticsTab" ng-if="tabselector == 'analyticsTab'">
                    Tab 3 Content
                </div>
                <div id = "filesTab" ng-if="tabselector == 'filesTab'">
                    Tab 4 Content
                </div>
                <div id = "summaryTab" ng-if="tabselector == 'summaryTab'">
                    Tab 5 Content
                </div>
            </div>
        </div>

    </div>
</body>
</html>